.b_900 { font-weight: 900;}
.dark-red { color: #cc0000;}
.orange { color: #fc9b18; }

.noto_san { font-family: 'Noto Sans JP', sans-serif; }
.lato { font-family: 'Lato', sans-serif; }
.mplus { font-family: 'M PLUS 2', sans-serif; }
.murecho {font-family: 'Murecho', sans-serif;}
.txt140p { font-size: 140%;}
.txt250p { font-size: 250%;}